development:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: collector_dev
  orcid_api_url: 'http://pub.orcid.org/v1.2/'
  orcid_key: ''
  orcid_secret: ''
  orcid_site: 'https://sandbox.orcid.org'
  orcid_authorize_url: 'https://sandbox.orcid.org/oauth/authorize'
  orcid_token_url: 'https://api.sandbox.orcid.org/oauth/token'
  elastic_server: 'http://localhost:9200'
  elastic_index: 'collector'
  eol_api: 'http://eol.org/api/'

test:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: collector_test
  orcid_api_url: 'http://pub.orcid.org/v1.2/'
  orcid_key: ''
  orcid_secret: ''
  orcid_site: 'https://sandbox.orcid.org'
  orcid_authorize_url: 'https://sandbox.orcid.org/oauth/authorize'
  orcid_token_url: 'https://api.sandbox.orcid.org/oauth/token'
  elastic_server: 'http://localhost:9200'
  elastic_index: 'collector'

production:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: collector
  orcid_api_url: 'http://pub.orcid.org/v1.2/'
  orcid_key: ''
  orcid_secret: ''
  orcid_site: ''
  orcid_authorize_url: ''
  orcid_token_url: ''
  elastic_server: 'http://localhost:9200'
  elastic_index: 'collector'
  eol_api: 'http://eol.org/api/'
