-content_for :stylesheets do
  %link{href: '/stylesheet/vis.min.css', rel: 'stylesheet', type: 'text/css' }

-content_for :title do
  Collector Graph

%h1{id: "agent-title"}
  %span Collectors Social Graph

#social-graph-large