-content_for :stylesheets do
  %link{href: '/stylesheet/vis.min.css', rel: 'stylesheet', type: 'text/css' }

-content_for :scripts do
  %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js', type: 'text/javascript' }
  %script{src: '/javascript/graph.js', type: 'text/javascript' }
  :javascript
    $(function() { Graph.init(); });

-content_for :title do
  Collector Graph

%h1{id: "agent-title"}
  %span Collectors Social Graph

#social-graph-large