-content_for :stylesheets do
  %link{href: '/stylesheet/vis.min.css', rel: 'stylesheet', type: 'text/css' }

-content_for :scripts do
  %script{src: '/javascript/vis.min.js', type: 'text/javascript' }
  %script{src: '/javascript/socialgraphdata.js', type: 'text/javascript' }
  %script{src: '/javascript/socialgraph.js', type: 'text/javascript' }
  :javascript
    $(function() { SocialGraph.init(); });

-content_for :title do
  Collector Social Graph

%h1 Collector Social Graph

#social-graph